@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
html{height:100%}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}






.container{
  max-width: 1190px;
  margin: 0 auto;
  
}
.header{
  width: 1370px;
  height: 698px;
  display: flex;
  flex-direction: column;
  
  
}
.header_background_linear{
  width: 70%;
  min-height: 649px;
  background:linear-gradient(90deg, rgba(238, 85, 20, 0.1),rgba(238, 85, 20, 0));
  
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  
  
  
}
.header_background_linear::after{
  content: "";
  position: absolute;
  right: 0px;
  top: 0px;
  border-right: 210px solid rgb(255, 255, 255) ;
  border-top: 698px solid transparent;
  
}
.header_head{
  width: 100%;
  height: 130px;
  display: flex;
  align-items: center;
  font-family: Poppins;
  justify-content: space-between;
}

.header_head_left{
  display: flex;
  justify-content: space-between;
  width: 43.75%;
  align-items: center;
}
.header_head_left_menu{
  font-size: 16px;
  display: flex;
  height: 100%;
}
.header_head_left_menu :nth-child(1n){
  margin-left:20px;
  margin-right: 20px;
  cursor: pointer;
}
.header_head_left_menu :nth-child(1){
  color: #EE5514;
}
.header_head_button{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EE5514;
  width:137px ;
  height:59px ;
  border-radius: 5px;
  color:white;
  cursor: pointer;
  font-family: Poppins;
}


.burger{
  /* display: none; */
  cursor: pointer;
  display: none;
  
}
.burger img{
  width: 40px;
  
  
}










.header_midle{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_midle_text{
  max-width: 456px;
  min-height: 216px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.header_midle_text_title{
  font-size: 51px;
  font-family: Source Serif Pro;
}
.header_midle_text_title :nth-child(1){
  color: #EE5514;

}


.header_midle_text_maintext{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  max-width: 300px;
  margin: 20px 15px 0px 15px;
}
.header_midle_ico{
  width: 600px;
  height: 400px;
  display: flex;
  justify-content: center;
  transform: translateX(23%);
  
}
.header_midle_ico_square{
  max-width: 394px;
  border: #ee551470 solid 11px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}
.header_midle_ico_square img{
  transform: translateX(-20px);

}

.header_button{
  position: relative;
  display: flex;
  justify-content: center;
  align-items:center;
  width: 70px;
  margin-left: 120px;
  height: 70px;
  user-select: none;
  transition:0.1s ease;
  
  
}
.header_button::after{
  content: "";
  position: absolute;
  top:0px;
  left: 0px;
  
  width: 70px;
  height: 70px;
  
  background: #EE5514;
  opacity: 0.1;
  border-radius: 50%;
  cursor: pointer;
  transition: 00.1s;
  
  
  
}
.header_button:hover.header_button::after{
  transform: scale(1.05);
 
}
.header_button img{
  opacity:1;
}







.header_setting-panel{
  width: 792px;
  height: 125px;
  background: #FFFFFF;
  box-shadow: 0px 1px 14px rgba(26, 10, 3, 0.05);
  border-radius: 5px;
  margin-top:42px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  

}
.header_setting-panel :nth-child(1n){
  display: flex;
  flex-direction: column;
  border-right: 1px solid #EE5514 ;
  padding-right: 45px;
  padding-left: 35px;
}
  
  

.header_setting-panel :nth-child(1n) :nth-child(odd){
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  border-right: none;
  padding-right: 0px;
  padding-left: 0px;
}
.header_setting-panel :nth-child(1n) :nth-child(even){
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  margin-top:10px;
  border-right: none;
  padding-right: 0px;
  flex-direction: row;
  align-items: center;
  padding-left: 0px; 
}
.arrow_down::after{
  content:url(../img/arow_down.svg);
  width: 12px;
  height: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left:10px;
  cursor: pointer;
}

.header_setting-panel :nth-child(4){
  border-right: none;
  padding-right: 0px;
}
.header_setting-panel :nth-child(1){
  padding-left: 0px;
}

.header_setting-panel :nth-child(5){
  display: flex;
  justify-content: center;
  align-items: center;
  width: 128px;
  height: 56px;
  color:white;
  background: #EE5514;
  border-radius: 5px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  margin-top:0px;
  margin-left: 35px;
  padding-right: 0px;
  padding-left: 0px;
  cursor: pointer;
}


.vidio-sec{
  margin-top:140px;
}
.vidio-sec_text{
  display: flex;
  flex-direction:column;
  max-width: 340px;
  height: 252px;
  justify-content: space-between;
}
.vidio-sec_text :nth-child(1){
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.05em;
  color: #EE5514;
}
.vidio-sec_text :nth-child(2){
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 130%;
  color: #1A0A03;
}
.vidio-sec_text :nth-child(3){
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #1A0A03;
  opacity: 0.7;
}
.vidio-sec_vidio_front{
  position: relative;  
}
.vidio-sec_vidio_front video{
  border-radius: 10px;
  opacity: 1;
  
  
 
}
.vidio-sec_vidio_back{
  background: url(../img/background_blur.jpeg) 90% no-repeat;
  width: 555px;
  height: 326px;
  filter:blur(10px) ;
  overflow: hidden;
  border:5px;
  position: relative;
  transform: scale(1.05);
  
  
  
  
}

.vidio-sec_all{
  display: flex;
  justify-content: space-between;
  
}
.aaa{
  overflow: hidden;
  position: absolute;
  top:-45px;
  left:45px;
  z-index: -1;
  border-radius: 5px;
}













.sec-3_text{
  margin: 0px 10px 0px 10px;
}
.sec-3_text_title{
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #EE5514;
    text-align: center;
  }
  .sec-3_text_maintext{
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 130%;
    text-align: center;
    color: #1A0A03;
  }
  .sec-3_cards{
    display: flex;
    justify-content: space-between;
    margin-top:60px;
  }
  .sec-3_card{
    width: 360px;
    height: 423px;
    z-index: 2;
    background: #FFFFFF;
    box-shadow: 0px 1px 30px rgba(26, 10, 3, 0.05);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    transition: 0.4s;
    
  
  }
  .sec-3_card_back{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 140px;
    z-index: 3;
    background: rgb(74, 137, 137, 0.1);
    border-radius: 50%;
    z-index: 3;
    margin-top: 60px;
    transition: 1s;
  }
  .sec-3_card :nth-child(4){
    margin-bottom:60px;
    z-index: 3;
  }
  .sec-3_card :nth-child(2){
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    text-align: center;
    z-index: 3;
    color: #1A0A03;
  }
  .sec-3_card :nth-child(3){
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    text-align: center;
    color: #1A0A03;
    opacity: 0.7;
    z-index: 3;
    
  }
  .sec-3_card_arrow{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #EE5514;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    transition: 0.5s;
    width: 150px;
    height: 40px;
    border-radius: 6px;
  }
  .sec-3_card_arrow::after{
    color: #1A0A03;
    content:"" ;
    background: url(../img/arrow_black_to-right.svg) center no-repeat ;
    margin-left: 10px;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    z-index: 2;
    
  }
  .sec-3_card::before{
    content: "";
    width: 200%;
    height: 200%;
    position: absolute;
    top: -50%;
    left: -50%;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image: linear-gradient( #ee5514 50%, #ee551400 );
    animation: anime 10s ease-in-out infinite;
    opacity: 0;
    transition: 1s;

  }
  .sec-3_card::after{
    content: "";
    width: 95%;
    height: 95%;
    background-color: #ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    border-radius: 10px;
    opacity: 0.5;
    transform: translate(-50%, -50%);
    transition: 1s;
    
  }
  .sec-3_card:hover{
    transform: scale(1.05);

  }
  .sec-3_card:hover .sec-3_card_back{
    transform: scale(1.15)
    
  }
  .sec-3_card:hover .sec-3_card::before{
    opacity: 0;
  }
  .sec-3_card_arrow:hover{
    transform: scale(1.2);
    background-color: rgba(126, 168, 168, 0.097);
    
    
    
    
    
    
    
    
   
    
    
  }
  .sec-3_card_arrow:hover::after {
    animation: animem 0.2s 1;
    animation-delay:1s ;
    

    
    
    
  }


  @keyframes animem {
    0%{
      transform: rotate(0deg);
    }
    25%{
      transform: rotate(-20deg);
    }
    50%{
      transform: rotate(20deg);
    }
    75%{
      transform: rotate(-20deg);
    }
    100%{
      transform: rotate(0deg);
    }
  }















.sec-4_text_title{
  
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.05em;
  color: #EE5514;
  margin-bottom: 13px;
}
.sec-4_text_maintext{
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 130%;
  color: #1A0A03;
  margin-bottom: 16px;
}
.sec-4_categories_buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sec-4_categories{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.05em;
  color: #1A0A03;
  display: flex;
  width: 475px;
  opacity: 0.7;
  justify-content: space-between;
  display: flex;
}
.sec-4_categories :nth-child(3){
  color: #EE5514;
  
  padding-bottom: 3px;
  border-bottom: #EE5514 solid 3px;
}
.sec-4_categories :nth-child(1n){
  cursor: pointer;
}
.sec-4_categories :nth-child(1){
  cursor:auto;
}

.sec-4_buttons{
  display: flex;
  width:150px ;
  justify-content: space-between;
}
.sec-4_arrow{
  width: 50px;
  height: 50px;
  border-radius:50%;
  background: rgba(238, 85, 20, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}
.sec-4_arrow:hover.sec-4_arrow{
  transform: scale(1.1);
 
}
.sec-4_arrow img{
  transform: scale(0.7);
}
.sec-4_left img{
  transform: rotate(180deg) scale(0.7);
}

























.sec-4_cards{
  display: flex;
  justify-content: space-between;
  margin-top:50px;
  
}
.sec-4_card{
  display:flex;
  flex-direction: column;
  height: 450px;
  justify-content: space-between;
  transition: 0.4s;
  position: relative;
}
.sec-4_card_photo{
  position: relative;
  width: 263px;
  height: 250px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  z-index: 2;
  transition: 1s;
  
  
}
.sec-4_card_photo::before{
  content: "";
  position: absolute;
  z-index: 2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: linear-gradient( #ee5514 50%, #ee551400 );
  animation: anime 6s linear infinite;
  opacity: 0;
  transition: 1s;
  
}
.sec-4_card_photo::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  width: calc(98% );
  height: calc(98% );
  background: white;
  border-radius: 20px;
  transition: 1s;
}




@keyframes anime{
  /* 1%{

  }
  50%{
    transform: rotate(0deg);
  } */
  100% {
    transform: rotate(360deg);
}
}




.sec-4_card_photo img{
  width: 263px;
  z-index: 3;
  width: 95%;
  height: 95%;
  border-radius: 15px;
  
}
.sec-4_card_name{
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 150%;
  color: #1A0A03;
}
.sec-4_card_size :nth-child(1){
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #1A0A03;
  opacity: 0.7;
}
.sec-4_card_size :nth-child(2){
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #1A0A03;
  opacity: 0.8;
  margin-left: 5px;
}
.sec-4_card_price :nth-child(1){
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #1A0A03;
  opacity: 0.7;
}
.sec-4_card_price :nth-child(2){
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #1A0A03;
  opacity: 0.8;
  margin-left: 5px;
}
.sec-4_card:hover{
  transform: scale(1.03)
}
.sec-4_card:hover .sec-4_card_photo{
  transform: scale(1.1);border-radius: 15px;
}

.sec-4_card:hover .sec-4_card_photo::before{
  opacity: 1;
  
}
.sec-4_card:hover .sec-4_card_photo::after{
  width: calc(95% );
  height: calc(95% );
  border-radius: 10px;
  
  
}
input[type=radio]{
  position: absolute;
  width: 100%;
  z-index: 12;
  height: 60%;
  visibility: hidden;
}



/* #c1:checked ~ .b1{
  display: none;
}
/* #c1:checked ~ .sec-4_cards:nth-child(1) .sec-4_card_photo::before{
  display: none;
}
#c2:checked ~ .sec-4_cards:nth-child(2) .sec-4_card_photo::before{
  display: none;
}
#c3:checked ~ .sec-4_cards:nth-child(3) .sec-4_card_photo::before{
  display: none;
}
#c4:checked ~ .sec-4_cards:nth-child(4) .sec-4_card_photo::before{
  display: none;
} */ 















.sec-5_title{
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 130%;
  color: #1A0A03;
  text-align: center;
  margin-bottom: 60px;
}
.sec-5_body{
  display: flex;
  justify-content: space-between;
}

.sec-5_body_right_top{
  display: flex;
  justify-content: space-between;
  margin-bottom:70px;
}
.sec-5_body_right_top_photo{
  width: 100px;
  height: 100px;
  background: url();
  border:#EE5514 2.5px solid;
  border-radius:50%;
  box-sizing:content-box;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.sec-5_body_right_top_photo img{
 width: 100%;
 top:0px;
 left:0px;
 transform: translate(10px, 20px) scale(1.2);

}
.sec-5_body_right_text{
  max-width: 458px;
}
.sec-5_body_right_text_title{
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 150%;
  text-align: center;
  text-align: left;
  margin-bottom:15px;
}
.sec-5_body_right_text_maintext{
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  color: #1A0A03;
  opacity: 0.7;
  margin-bottom:25px;
}















.pre-footer{
  margin-top: 140px;
  background: #81a8da1d ;
  display: flex;
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
  
}
.pre-footer img{
  height: 334px;
  aspect-ratio: 16/9;
  overflow: hidden;
}

.pre-footer_right{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 63px;
}
.pre-footer_right_text_title{
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 31px;
  line-height: 140%;
  color: #1A0A03;
}
.pre-footer_right_text_maintext{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #1A0A03;
  opacity: 0.7;
}

form input[type="submit"]{
  background-color: #EE5514;
  color: #FFFFFF;
  padding: 15px 0px 15px 0px;
  width: 25%;
  min-width: 66px;
  border:none;
  border-radius: 0px 5px 5px 0px;
  text-align: center;
  
  cursor:pointer;
  transform: translateX(-4px);
  font-family: poppins;
}
form input[type="text"]{
  background-color: initial;
  padding: 15px 0px 15px 30px;
  width: 75%;
  border:1px solid rgba(128, 128, 128, 0.229);
  border-radius: 5px 0px 0px 5px;
  outline: none;
  cursor:auto;
  font-family: poppins;
  color: #1A0A03;
  opacity: 0.5;
}
form{
  width: 90%;
  display: flex;
  justify-content: space-between;
}
form input[type="text"]:nth-child(2){
  display: none;
}
















.footer{
  min-height: 441px;
  
  background: #ee55140d;
  
  margin: 0 auto ;
  
  
}
.footer_body{
  padding:  100px 0px 51px 0px;
  height: 265;
  
  
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom:1px rgba(0, 0, 0, 0.086) solid ;
  
  
  
}
.footer_text_style{
  display: flex;
  flex-direction: column;
}

.footer_text_style :nth-child(1){
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #1A0A03;
  margin-bottom: 31px;
}
.footer_text_style_maintext{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #1A0A03;
  opacity: 0.7;
  margin-bottom: 10px;
}
.footer_ico{
  display: flex;
  width: 155px;
  justify-content: space-between;
  
}
.footer_ico img{
  cursor: pointer;
}
.footer_footer{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #1A0A03;
  opacity: 0.7;
  display: flex;
  align-items: center;
  height: 86px;
  justify-content: center;
}
@media(max-width: 1300px) {
  .header_background_linear{
    min-height: 960px;
  }
  .header_background_linear::after{
    border-top: 960px solid transparent;
    
  }
  .footer_body{
    margin: 0px 30px 0px 30px;
  }
  .header_head{
    width: 80%;
    margin: 0 auto;
  }
  .header_head_left_logosvg{
    margin-right: 10px;
  }
  .header_midle{
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }
  
 
  .header_midle_ico{
    margin-top: 70px;
    transform: translateX(0px);

  }
  .header_button{
    display: none;
  }
  .header_setting-panel{
    margin: 60px auto;
  }


  .vidio-sec_all{
    flex-direction: column;
    align-items: center;
    text-align: center;
    
  }
  .vidio-sec_text{
    max-width: 500px;
  }
  .vidio-sec_vidio{
    margin-top: 80px;
  }
  .vidio-sec_text :nth-child(3){
    margin-bottom: 30px;
  }








  .sec-3_cards{
    flex-direction: column;
    align-items: center;
    
  }
  .sec-3_card{
    width: 32%;
    margin-top: 30px;
  }
  .sec-4_cards{
    /*  flex-direction: column; */
    justify-content: center;
    flex-wrap: wrap;
  }
  .sec-4_card{
    margin: 40px 30px;
  
  }
  .sec-5_body{
    flex-direction: column;
    margin:0 auto;
    align-items: center;
  }
  .sec-5_body_right{
    margin-top: 60px;
    margin:60px 20px 0px 20px ;
  }
  
}

@media(max-width: 1024px) {
  .header_background_linear{
    min-height: 1300px;
    
  }
  .header_background_linear::after{
    border-top: 1300px solid transparent;
    
  }
  .footer_body{
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 00px 0px 0px;
    
  }
  
  .footer_text_style{
    width: 250px;
    margin: 40px 30px 0px 30px;
    
  }
  
  .sec-3_card{
    width: 40%;
    
  }
    
  .pre-footer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }
  .pre-footer img{
    max-width: 500px;
  }
  .header_setting-panel{
    width: 30%  ;
    height: 792px;
    background: #FFFFFF;
    box-shadow: 0px 1px 14px rgba(26, 10, 3, 0.05);
    border-radius: 5px;
    margin-top:42px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    
    
  
  }
  .header_setting-panel :nth-child(1n){
    display: flex;
    flex-direction: column;
    border-right: 0px solid #EE5514 ;
    padding-right: 0px;
    padding-left: 0px;
  }
  .header_setting-panel :nth-child(1n) :nth-child(odd){
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 160%;
    border-right: none;
    padding-right: 0px;
    padding-left: 0px;
  }
  .header_setting-panel :nth-child(1n) :nth-child(even){
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 160%;
    margin-top:10px;
    border-right: none;
    padding-right: 0px;
    flex-direction: row;
    align-items: center;
    padding-left: 0px; 
  }
  .arrow_down::after{
    content:url(../img/arow_down.svg);
   
    width: 12px;
    height: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:10px;
    cursor: pointer;
  }
  
  .header_setting-panel :nth-child(4){
    border-right: none;
    padding-right: 0px;
  }
  .header_setting-panel :nth-child(1){
    padding-left: 0px;
  }
  
  .header_setting-panel :nth-child(5){
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 70px;
    color:white;
    background: #EE5514;
    border-radius: 5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 160%;
    margin-top:0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
    cursor: pointer;
  }
  .arrow_down::after{
    content:url(../img/arow_down.svg);
    
    width: 12px;
    height: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:10px;
    cursor: pointer;
    transform: translateY(-4px);
  }
}
@media(max-width: 768px) {
  .header_background_linear{
    width: 100%;
  }
  .sec-5_body_right_text_title{
    
    margin-top: 50px;
  }
  .sec-5_body_right_text{
    text-align: left;
  }
  .sec-5_body_right_top{
    justify-content: center;
  }
  .sec-5_body_right_top_photo{
    width: 200px;
    height: 200px;
  }
  .sec-3_card{
    width: 70%;
    margin-top: 30px;
  }
  .aaa{
    display: none;
  }
  video{
    width: 90%;
  }
  .header_head_left{
    display: none;
  }
  .burger{
    display:flex;
  }
  .header_setting-panel{
    width: 40%;
    justify-content: space-around;
  }
  .header_head{
    width: 80%;
    margin: 0 auto;
  }
  .header_midle_ico{
    width: 70%;
    
  }
  .header_midle_ico_square{
    width: 90%;
    max-width: 400px;
   
  }

  .header_midle_ico_square img{
    width: 200%;
    
    transform: translateX(0px);
  }
  .sec-4_buttons{
    display: none;
    
  }
  .sec-4_text{
    display: flex;
    flex-direction: column;
    text-align: center;
  
  }
  .sec-4_categories_buttons{
    justify-content: center;
  }
  .sec-4_categories{
    flex-wrap: wrap;
    margin: 0px 10px 0px 10px;
    justify-content: center;
  }
  .sec-4_categories :nth-child(1n){
    
    margin: 20px 10px 0px 10px;
  }
  .sec-4_categories :nth-child(1){
    
    margin: 0px 50% 0px 50%;
  }
  .sec-5_body_legs{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .sec-5_body_legs img{
    width: 90%;
    margin: 0 auto;
  }
  .pre-footer img{
    
    
    border-radius: 10px 10px 0px 0px ;
    
  }
}
@media(max-width: 425px) {
  form{
    width: 120%;
    transform: translateX(-5%);
  }
  .sec-3_card{
    width:80%;
    margin-top: 30px;
  }
  .header_setting-panel{
    width: 70%;
  }
  form input[type="text"]:nth-child(2){
    display: flex;
  }
  form input[type="text"]:nth-child(1){
    display: none;
  }
  .header_midle_text{
    max-width: 566px;
    min-height: 216px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

}